/*Maak hier jouw CSS!*/

* {
    margin: 0px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 184px 100px auto 50px;
    gap: 16px 16px;
    grid-template-areas:
    "area-a area-c area-c"
    "area-b area-c area-c"
    "area-b area-e area-d"
    "area-b area-e . "
    "area-f area-f area-f";
    background-color: #FFEFDB;
}

#item-a {
    background-color: #BA3B45;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    grid-area: area-a;
}

#item-b {
    background-color: #BA3B45;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    grid-area: area-b;
}

#item-c {
    background-color: #BA3B45;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    grid-area: area-c;
}

#item-d {
    background-color: #BA3B45;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    grid-area: area-d;

}

#item-e {
    background-color: #BA3B45;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    grid-area: area-e;

}

#item-f {
    background-color: #BA3B45;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    grid-area: area-f;

}